.comment-container {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .comment-author {
    margin: 0;
  }
  
  .edited-tag {
    font-size: 12px;
    margin-left: 5px;
    color: gray;
  }
  
  .comment-menu {
    position: relative;
  }
  
  .menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-icon {
    font-size: 18px;
  }
  
  .menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .confirmation-message {
    width: 200px;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .confirmation-cancel-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .confirmation-confirm-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .comment-body {
    margin-bottom: 5px;
    text-align: left;
  }
  
  .comment-content {
    margin: 0;
    white-space: pre-wrap;
  }
  
  .comment-textarea {
    width: 100%;
    height: 100px;
    resize: none;
  }
  
  .comment-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  .save-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .cancel-button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  