
  
/*HOMEPAGE*/
#homePage.dark-mode{
    background-color: rgb(141, 144, 141);
    color: #d3d0d0;
    }



/*NAV BAR */
#nav.dark-mode{
    background-color: rgb(141, 144, 141);
}

#logo.dark-mode {
    color: #123f12;
}



