#homePage {
    padding: 100px;
    justify-content: space-between;
    /*  background-color: rgba(255, 254, 250, 1); */
    background-color: #FFF3E9;
    padding-top: 100px;
}

#search {
    margin-top: 100px;
    margin-bottom: 50px;
}



#searchBar {
    height: 40px;
    font-family: 'Cabin Condensed';
    font-weight: 40;
    font-size: 25px;
    color: #4B4B4B;
    border-radius: 10px;
    border: none;
    width: 700px;
}

#searchBar::placeholder {
    text-align: center;
}