#homePage {
    padding: 100px;
    justify-content: space-between;
    /*  background-color: rgba(255, 254, 250, 1); */
    background-color: #fff3e9;
    padding-top: 100px;
}

#search {
    margin-top: 100px;
    margin-bottom: 50px;
}

#searchBar {
    height: 40px;
    font-family: "Cabin Condensed";
    font-weight: 40;
    font-size: 25px;
    color: #4b4b4b;
    border-radius: 10px;
    border: none;
    width: 700px;
}

#searchBar::placeholder {
    text-align: center;
}

#userItineraries,
#recommendedItineraries,
#likedItineraries {
    display: flex;
    flex-direction: row;
}
