.itinerarySummaryDiv {
    /*     background-color: rgba(233, 234, 179, 0.8);
 */
    background-color: rgb(212, 234, 201, 0.8);
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #393838;
    position: relative;

    white-space: pre-line;
}

#routeName {
    letter-spacing: 0.05em;
    font-size: 20px;
    margin-bottom: 10px;
    color: #d65745;
    height: 50px;
}

#routeDescription {
    font-family: "Cabin Condensed";
    font-size: 12px;
    margin-bottom: 10px;
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 80px;
}

/*   #routeImage {
    
  }
   */

#routeDuration {
    margin-right: 10px;
}

#routePrice {
    margin-right: 10px;
}
