.itinerarySummaryDiv {
    background-color: #d4eac9cc;
    width: 170px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 20px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    color: #393838;
    position: relative;
    white-space: pre-line;
}

#routeName {
    letter-spacing: 0.05em;
    font-family: "Bubbler One";
    font-size: 20px;
    margin-bottom: 0px;
    color: #d65745;
    height: 50px;
}

#routeDescription {
    font-family: "Cabin Condensed";
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 92px;
}

.itinerarySummaryImage {
    margin-top: 30px;
    border-radius: 5px;
    object-fit: cover;
    height: 90px;
    width: 100%;
}

#routeDuration {
    margin-right: 10px;
    margin-top: 6px;
}

#routePrice {
    margin-right: 10px;
    margin-top: -5px;
}
