.itinerarySummaryDiv {
    /*     background-color: rgba(233, 234, 179, 0.8);
 */
    background-color: #d4eac9cc;
    width: 170px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #393838;
    position: relative;
    white-space: pre-line;
}

#routeName {
    letter-spacing: 0.05em;
    font-family: 'Bubbler One';
    font-size: 20px;
    margin-bottom: 10px;
    color: #d65745;
    height: 50px;
}

#routeDescription {
    font-family: "Cabin Condensed";
    font-size: 12px;
    margin-bottom: 10px;
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 40px;





}

/*   #routeImage {
    
  }
   */

#routeDuration {
    margin-right: 10px;
}

#routePrice {
    margin-right: 10px;
}
