#profilePage {
    padding: 100px;
    justify-content: space-between;
    /*  background-color: rgba(255, 254, 250, 1); */
    background-color: #fff3e9;
    padding-top: 100px;
}

#userInfo {
    padding-top: 80px;
    font-family: "Cabin Condensed";
    font-size: large;
}

#profilePicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#userItineraries,
#recommendedItineraries,
#likedItineraries,
#ratedItineraries {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
