#travelRoute {
/*     background-color: rgba(233, 234, 179, 0.8);
 */    background-color: rgb(212, 234, 201, 0.8);
;


    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #393838;
    
    white-space: pre-line;
  
  }
  
  #routeName {
    font-family: 'Bubbler One';
    letter-spacing: 0.05em;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #routeDescription {
    font-family: 'Cabin Condensed';
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
    
    
    
    
  }
  
/*   #routeImage {
    
  }
   */

  
  #routeDuration {
    font-family: 'Cabin Condensed';
    margin-right: 10px;
  }

  #routePrice {
    font-family: 'Cabin Condensed';
    margin-right: 10px;
  }
